html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem = 10px*/
}

/*Hace que el rem sea mas facil de usar */

h1 {
    text-align: center; /*Centrar el texto*/
    font-size: 3.8rem;
    
    color: red;
}

span{
    font-size: 2rem; /*Tamaño de fuente*/
}