:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario:#0097a7;
    --gris:#757575;
   

}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem = 10px*/
    font-family: 'Krub', sans-serif; /*Cambiar fuente*/
}

/*Hace que el rem sea mas facil de usar */

.titulo {
    text-align: center; /*Centrar el texto*/
    font-size: 3.8rem;
    color: var(--primario);/*Cambiar color*/
    
    
}

.titulo span{
    font-size: 2rem; /*Tamaño de fuente*/
  
}

.contenedor{
    max-width: 120rem;
    margin:0 auto 0 auto; /* forma resumida de declarar los margenes*/

}

.nav-bg{
    background-color: var(--secundario);

}

.navegacion-principal{
    display:flex;
    flex-direction: column;
    justify-content:space-between; /*mover el contenido horizontalmente*/
}

@media (min-width: 768px){
    .navegacion-principal{
        flex-direction:row;
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color:var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700 ;
    padding:1rem; /* altura de la barra de navegacion*/
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero{
    background-image: url(../img/hero.jpg);
    background-repeat:no-repeat;
    background-size: cover;

}



